.ht{
  margin-top: 62px;
  height: 900px;
  background-color: dodgerblue;
  /* background: url("https://images.pexels.com/photos/2081982/pexels-photo-2081982.jpeg?cs=srgb&dl=brown-close-up-color-2081982.jpg&fm=jpg") */
}

body,html{
 height: 100%;
 margin: 0;
}

.container-fluid {
  padding: 50px;
  position: absolute;
  margin: 40px 100px;
}

.starting{
  padding: 40px;
  font-family:Verdana;
  font-size: 60px;
  color: white
}

.btn{
  width: 40%;
  padding: 14px 28px;
  background-color:rgba(255, 123, 0, 0.883);
  color: white;
  font-size: 22px;
  cursor: pointer;
  text-align: center; 
}

.dat{
  margin-left: 20px !important;
}

.active{
  background-color: blue;
}
