<div class="container-fluid">
  <div class="row">
    <div class="d-none d-md-block col-lg-7">
      <img class="effect" src="../../../assets/adult-assortment-background-1496183 (1).jpg" alt="Image">
    </div>
    <div class="col-sm-12 col-lg-4 starting">
      <p>BLOGU powers 34% of the internet.
        Join the global community.</p>
      <h2>CREATE YOUR BLOG</h2>
      <button class="btn" routerLink="/register">Start Your Blog</button>
    </div>
  </div>
</div>
<div class="btndt" *ngFor="let blog of blogs">
  <div class="tdes">
    <h1><b>{{ blog.title }}</b></h1>
    <div innerHTML="{{blog.description}}"></div>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" (click)="previous()">Previous</a></li>
    <li class="page-item" *ngFor="let araay of araays">
      <a class="page-link" (click)="pageclick(araay,$event)">{{araay}}</a>
    </li>
    <li class="page-item"><a class="page-link" (click)="next()">Next</a></li>
  </ul>
</nav>