.container-fluid {
 background-color: teal;
}

.row{
  padding: 150px 120px
}

.starting{
  font-family:Verdana;
  font-size: 60px;
  color: white
}

.btn{
  padding: 20px;
  background-color:rgba(255, 123, 0, 0.883);
  color: white;
  font-size: 22px;
  cursor: pointer;
  text-align: center; 
}

.dat{
  margin-left: 20px !important;
}

.active{
  background-color: lightblue;
}

.effect{
  width:800px;
  height:700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btndt{
  margin: 50px 50px;
  padding:40px
}

.tdes{
  padding: 10px;
  background-color: seashell;
  box-shadow: 0 2px 2px rgb(203, 224, 195);
}