<div class="jumbotron">
  <p>Create a blog and share your voice in minutes.</p>
  <button class="create" routerLink="/create-blog">Create Blog</button>
</div>

<div *ngIf="role == 'admin'; else user">
  <div *ngFor="let blog of blogs">
    <div class="des">
      <h1> {{ blog.title }} </h1>
      <div id="description" innerHTML="{{blog.description}}"></div>
    </div>
    <div class="dae">
      <button (click)=blogEdit(blog._id) class="btn btn-info btn-md">Edit</button>
      <button (click)="blogDelete(blog._id)" class="btn btn-danger btn-md">Delete</button>
      <span *ngIf="blog.comments.length == '0'; else notzero">
        <button class="btn btn-secondary btn-md" (click)=comments(blog._id)>Comment</button>
      </span>
      <ng-template #notzero>
        <button class="btn btn-secondary btn-md" (click)=comments(blog._id)>Comment
          ({{blog.comments.length}})</button>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #user>
  <div *ngFor="let blog of blogs">
    <div class="des">
      <h1> {{ blog.title }} </h1>
      <div innerHTML="{{blog.description}}"></div>
    </div>
    <div class="dae">
      <span *ngFor="let myblog of myBlogs">
        <span *ngIf="blog._id == myblog">
          <button (click)=blogEdit(myblog) class="btn btn-info btn-md">Edit</button>
          <button (click)="blogDelete(myblog)" class="btn btn-danger btn-md">Delete</button>
        </span>
      </span>
      <span *ngIf="blog.comments.length == '0'; else notzero">
        <button class="btn btn-secondary btn-md" (click)=comments(blog._id)>Comment</button>
      </span>
      <ng-template #notzero>
        <button class="btn btn-secondary btn-md" (click)=comments(blog._id)>Comment
          ({{blog.comments.length}})</button>
      </ng-template>
    </div>
    <hr>
  </div>
</ng-template>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" (click)="previous()">Previous</a></li>
    <li class="page-item" *ngFor="let araay of araays">
      <a class="page-link" (click)="pageclick(araay)">{{araay}}</a>
    </li>
    <li class="page-item"><a class="page-link" (click)="next()">Next</a></li>
  </ul>
</nav>