#description{
  font-size: 20px;
}

.jumbotron{
  padding: 80px;
  background-color: teal;
  font-size: 80px;
  line-height:1.2;
  color: whitesmoke;
  text-align: center;
}

.create{
  padding: 10px 20px;
  background-color:rgba(255, 123, 0, 0.883);
  color: white;
  font-size: 22px;
  cursor: pointer;
  text-align: center; 
}

.dae{
    text-align: right;
  margin-right: 3%;
  margin-top: 10px;
}

.btn{
  margin-right: 7px;
}
