.mybtn {
  padding-left: 20%;
  padding-right: 20%;
  margin-left: 45%;
  margin-top: 7% 

}

.eap{
  margin-top: 6%
}

.des {
  background-color:seashell;
  box-shadow: 0 2px 2px rgb(203, 224, 195);
  margin-top: 4%;
  margin-bottom: 1%;
  margin-left: 12%;
  max-height: 300px;
  max-width: 76%;
  overflow-y: scroll;
  font-size: 20px ;
}

.delit{
  margin-left: 80%
}


