<form class="container-fluid" (ngSubmit)="editBlog()" #cb="ngForm">
  <div class="a">
    <div>
      <label for="title">Title</label>
    </div>
    <div>
      <input [ngModel]="user.title" name="title" id="title">
    </div>
  </div>

  <div class="a">
    <label for="description">Description</label>
    <textarea [froalaEditor] rows="20" cols="200" [ngModel]="user.description" name="description"></textarea>
  </div>

  <div class="a row">
    <div class="col-sm-2">
      <label for="postType">Post Type</label>
    </div>
    <div class="col-sm-2">
      <li><input type="radio" [ngModel]="user.postType" name="postType" value="public">PUBLIC</li>
      <li><input type="radio" [ngModel]="user.postType" name="postType" value="private">PRIVATE</li>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">SUBMIT</button>

</form>