label{
  font-size: 25px;
}

.a{
  margin-bottom: 2% 
}

.container-fluid{
  font-size: 20px;
  margin-top: 10px;
  font-size: 20px;
  width: 85%
}

.btn{
  margin-left: 40%
}

li{
  list-style-type: none;
}




