<div class="container-fluid">
  <div class="row" *ngIf="user">
    <div class="col-sm-5">
      <div class=centering>
        <img [src]=imageStr style=" border-radius: 50%; width: 400px; height: 400px">
        <div [hidden]="fun">
          <input type="file" name="image" (change)="updatePhoto($event)" />
          <button type="submit" (click)="updatePic()" class="btn btn-success btn-md">upload</button>
        </div>
        <button type="button" (click)="show()" class="btn btn-link">Edit Profile Picture</button>
      </div>

    </div>
    <div class="col-sm-7">
      <div class="dataCentering">
        <h3><b>Personal Information</b></h3>
        <p class="sizing">Name: <span>{{user.name}}</span></p>
        <p class="sizing">Username: <span>{{user.userName}}</span></p>
        <p class="sizing">Email: <span>{{user.email}}</span> </p>
        <p class="sizing">Gender: <span>{{user.gender}}</span></p>
        <p class="sizing">No. Of Blogs: <span>{{user.blog.length}}</span></p>
      </div>
    </div>
  </div>
</div>