<div class=main>
  <h2 class="text-center">Change Password</h2>
  <hr>
  <form (ngSubmit)="changePassword()" #cp="ngForm">

    <label>EMAIL:</label>
    <span style="font-size:30px; color:midnightblue" name='email'>{{userpass.email}}</span>
    <br>

    <label>OLD PASSWORD:</label>
    <input type="password" placeholder="Strong Password" ngModel name="opassword" required>
    <br>

    <label>NEW PASSWORD:</label>
    <input type="password" placeholder="Strong Password" ngModel name="npassword"
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" #password="ngModel" required>
    <br>

    <span *ngIf="!password.valid && password.touched" class="help-block">
      Please Enter Strong Password (1 digit, 1 uppercase & lowercase, min length 8 ).
    </span>
    <br>

    <label>CONFIRM PASSWORD:</label>
    <input type="password" placeholder="Strong Password" ngModel name="ncpassword" required>
    <br><br>

    <button type="submit" class="btn btn-info btn-lg" value="UPDATE" [disabled]="!cp.valid">UPDATE</button>
  </form>
</div>